
bin/Debug/Bookstore.db
bin/Debug/CSharpWpfFinal_Bookstore.exe
bin/Debug/e_sqlite3.dll
bin/Debug/Microsoft.Data.Sqlite.xml
bin/Debug/SQLitePCLRaw.provider.dynamic_cdecl.dll
bin/Debug/System.Buffers.xml
bin/Debug/System.Memory.dll
bin/Debug/System.Numerics.Vectors.dll
bin/Debug/Microsoft.Data.Sqlite.dll
bin/Debug/CSharpWpfFinal_Bookstore.pdb
bin/Debug/SQLitePCLRaw.batteries_v2.dll
bin/Debug/System.Buffers.dll
bin/Debug/SQLitePCLRaw.core.dll
bin/Debug/System.Numerics.Vectors.xml
bin/Debug/System.Runtime.CompilerServices.Unsafe.xml
bin/Debug/System.Runtime.CompilerServices.Unsafe.dll
bin/Debug/CSharpWpfFinal_Bookstore.exe.config
data/DataCustomers.cs
data/DataOders.cs
data/DataBookstore.cs
obj/Debug/App.g.i.cs
obj/Debug/App.g.i.cs
obj/Debug/BooksPage.baml
obj/Debug/BooksPage.g.cs
obj/Debug/App.g.i.cs
obj/Debug/BooksPage.g.i.cs
obj/Debug/Control/CustomersControl.g.i.cs
obj/Debug/Bookstore.g.i.cs
obj/Debug/App.g.cs
obj/Debug/CSharpWpfFinal_Bookstore_MarkupCompile.i.lref
obj/Debug/CSharpWpfFinal_Bookstore_MarkupCompile.i.cache
obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
obj/Debug/Menus.g.i.cs
obj/Debug/OrderPage.baml
obj/Debug/OrderPage.g.cs
obj/Debug/OrderPage.g.i.cs
obj/Debug/Menus.baml
obj/Debug/Menus.g.cs
obj/Debug/Login.g.i.cs
obj/Debug/Menu.g.i.cs
obj/Debug/Login.g.cs
obj/Debug/Login.baml
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/DesignTimeResolveAssemblyReferences.cache
obj/Debug/CustomersPageก.g.i.cs
obj/Debug/CustomersPage.g.i.cs
obj/Debug/CustomersPage.baml
obj/Debug/CustomersControl.g.i.cs
obj/Debug/CSharpWpfFinal_Bookstore_MarkupCompile.lref
obj/Debug/CustomersPage.g.cs
obj/Debug/CSharpWpfFinal_Bookstore_MarkupCompile.i.lref
obj/Debug/CSharpWpfFinal_Bookstore_MarkupCompile.cache
obj/Debug/CSharpWpfFinal_Bookstore_MarkupCompile.i.cache
bin/Debug/System.Memory.xml
obj/Debug/CSharpWpfFinal_Bookstore.csproj.CopyComplete
obj/Debug/CSharpWpfFinal_Bookstore.csproj.FileListAbsolute.txt
obj/Debug/CSharpWpfFinal_Bookstore.exe
obj/Debug/CSharpWpfFinal_Bookstore.csproj.GenerateResource.cache
obj/Debug/CSharpWpfFinal_Bookstore.csproj.CoreCompileInputs.cache
obj/Debug/CSharpWpfFinal_Bookstore.pdb
obj/Debug/CSharpWpfFinal_Bookstore.g.resources
obj/Debug/CSharpWpfFinal_Bookstore_Content.g.i.cs
obj/Debug/CSharpWpfFinal_Bookstore.Properties.Resources.resources
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/CSharpWpfFinal_Bookstore_MarkupCompile.i.lref
obj/Debug/CSharpWpfFinal_Bookstore_MarkupCompile.i.cache
obj/Debug/CSharpWpfFinal_Bookstore.csproj.AssemblyReference.cache
obj/Debug/App.g.i.cs
